.widget-tab-swipe.mx-tabcontainer {
    overflow:hidden;
    width: 100%;
    position: relative;
}

.widget-tab-swipe > .mx-tabcontainer-content {
    height: auto;
    position: relative;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    display: block;
}

.widget-tab-swipe > .mx-tabcontainer-content > .mx-tabcontainer-pane {
    width: 100%;
    height: auto;
    transition: all 0.6s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.widget-tab-swipe > .mx-tabcontainer-content > .mx-tabcontainer-pane.active {
    position: relative;
}

.widget-tab-swipe > .mx-tabcontainer-content.animate > .mx-tabcontainer-pane {
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s;
    will-change: transform, opacity;
}

.widget-tab-swipe.use-indicators {
    position: relative;    
}

.widget-tab-swipe.use-indicators > .carousel-indicators > li {
    text-indent: -9999px;   
}
